<!DOCTYPE html>
<head>
    <meta charest="utf-8">
    <style>
        body {
            margin: 0;
        }
        h1 {
            color: purple;
            padding: 20px;
            margin: 20px;
            text-align: center;
            background-color: palevioletred;
        }       
    </style>
</head>>
<body>    
    <h1 style="text-align: center;">OneHour</h1>           
    <h2 style=" text-align: center;">특이사항</h1>  
        <li>숨이 죽은 야채 하나</li>
        <li>종이 빨때 하나</li>
    
    <div class="mju1">
        <ul>
            <a href="{% url 'ii' %}">컴퓨터 공학과 16학번 김원규</a>
            <br>
            <a href="{% url 'i2' %}">컴퓨터 공학과 18학번 김한솔</a>
            
        </ul>
    </div>    
    
    </body>
</html>